
/*.react-tweet-theme > article > div[class^="_root_"] {*/
/*    height: 300px;*/
/*}*/
/*.react-tweet-theme > article > div[class^="_mediaWrapper_"] {*/
/*    height: 300px;*/
/*}*/
/*.react-tweet-theme > article > div[class^="_mediaContainer_"] {*/
/*    height: 300px;*/
/*}*/
/*.react-tweet-theme  video[class^="_image_"] {*/
/*    height: 300px;*/
/*}*/
/*.react-tweet-theme > article > div[class^="_replies_"]{*/

/*}*/
/*.react-tweet-theme > article > div{*/
/*    !*height: 200px;*!*/

/*}*/

.singleArticleWrapper{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
    padding: 0 0 4px 0;
    background: #fff;
}

.size .react-tweet-theme{
    /*--tweet-body-font-szie: 3rem;*/
    /*--tweet-header-font-szie: 3rem;*/
    /*transform: scale(1);*/
}
